# ------- interface
adapter driver bcm2835gpio
bcm2835gpio peripheral_base 0x20000000

# Transition delay calculation: SPEED_COEFF/khz - SPEED_OFFSET
# These depend on system clock, calibrated for stock 700MHz
# bcm2835gpio speed SPEED_COEFF SPEED_OFFSET
bcm2835gpio speed_coeffs 113714 28

# Each of the SWD lines need a gpio number set: swclk swdio
# Header pin numbers: 22 18
bcm2835gpio swd_nums 25 24

bcm2835gpio srst_num 17
reset_config srst_only srst_push_pull
#------- interface

transport select swd

set CHIPNAME at91samd21g18
source [find target/at91samdXX.cfg]

reset_config srst_only
adapter srst delay
adapter srst pulse_width

init
targets
reset halt
flash write_image erase firmware.bin 8192
verify_image firmware.bin 8192
reset run
reset run
shutdown
